<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<h1>League Of Legend</h1>
  	<div class="container bg-gray">
	  	<div class="chracterlist bg-white">
	  		<div class="line1">
		  		<div class="characterpic">
		  			<img src="">
		  		</div>	
	  		</div>
	  	</div>			
  	</div>
  	<div class="container bg-gray">
  		<div class="chracterinfo bg-white">
	    	<div class="infohead">
	    		
	    	</div>
	    	<div class="infodetail">
	    		
	    	</div>
	    </div>
  	</div>
  </body>
</html>
