body{

}

.bg-gray{
	background-color: #f1f1f1;
}
.bg-white{
	background-color: #fff;
}
.container{
	display: flex;
	display: -webkit-flex;
	-webkit-justify-content: center;
	justify-content: center;
}

.chracterlist{
	width: 800px;
	min-height: 300px;
}
.chracterinfo{
	width: 800px;
	min-height: 200px;
}